 {% load staticfiles %}
 <!DOCTYPE html>
    <html lang="es">
        <head>
        	<meta charset="UTF-8">
        	<meta name="viewport" content="initial-scale=1">
           <TITLE>{% block title %} Publica Gualaceo {% endblock %}</TITLE>
            <!-- Latest compiled and minified CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->          
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
           <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
            <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
            <script src="js/modernizr.custom.31855.js"></script>
            
        </head>
           <body>


    <!-- Fixed navbar -->
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Inicio</a>
     
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Nosotros <span class="sr-only">(current)</span></a></li>
       
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Objetivos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Mision</a></li>
            <li><a href="#">Vision</a></li>
            
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Autos,Terrenos,Casas,Departamentos etc">
        </div>
        <button type="submit" class="btn btn-success">Buscar</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}

      {% else %}
      <li><a href="{% url 'social:begin' 'facebook'%}"><button type="submit" class="btn btn-primary">Publicar con Facebook</button></a></li>
      <li><a href="{% url 'social:begin' 'twitter'%}"><button type="submit" class="btn btn-info">Publicar con Twitwer</button></a></li>
      {% endif %}	
   		{% if user.is_authenticated %}
        <li><img src="{{ user.avatar }}" class="foto-perfil" width="30px"></li>
        
        <li class="dropdown">
        
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}} <span class="caret"></span></a>
          
          
          <ul class="dropdown-menu">
            <li><a href="{% url 'blog.views.post_new' %}">Agregar nuevo Post</a></li>
            <li><a href="/Post/{{ user.author }}/">Mis Posts</a></li>
            
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'users:logout' %}">Salir <span class="glyphicon glyphicon-log-out"></span></a></li>
         {% endif %}   
            
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<br>
<br>
        <!--<div class="page-header">
        	{% if user.is_authenticated %}
        		<a href="{% url 'blog.views.post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        	{% endif %}	

        		{% if user.is_authenticated %}
		<ul class="nav navbar-nav navbar-right">
			<li class="contenido-imagen-perfil">
				<a href="#" class ="padding-minus">
				<img src="{{ user.avatar }}" class="foto-perfil" width="30px">
				</a>
			</li>

			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.username}} <b class="caret"></b></a>

				<ul class="dropdown-menu">
					<li><a href="#">Perfil</a></li>
					<li class="divider"></li>
					<li><a href="{% url 'blog.views.post_new' %}">Salir <span class="glyphicon glyphicon-log-out"></span></a></li>
				</ul>
			</li>
		</ul>
	{% endif %}



            <h1><a href="/">Blog Automatico</a></h1>
        </div>-->
        <div id="contenedor">

        	{% block paginador %}

            {% endblock %}


                {% block content %}

                {% endblock %}

            {% block paginador2 %}

            {% endblock %}    
          
        </div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


    </body>
    </html>