{% extends 'blog/base.html' %}
{% block title %} {{ post.title }}{% endblock %}

  	{% block js %}
     <script type="text/javascript">
        $(document).ready(function(){
            $('.thumbnails').yoxview();
        });
    </script>
{% endblock js %}


    {% block content %}
    <br>
    <br>
     <div id="contenedor">
        <section class="content-post">

        	<div class="content-post1">
        	<section class ="contenedor-dosblques">
        			<div class ="cabezera">
        	{% if user.is_authenticated %}
            {% if post.author == user %}<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
            <a class="btn btn-default" href="{% url 'post_delete_post' pk=post.pk %}"><span class="glyphicon glyphicon-ban-circle"></span> Eliminar</a>
            <a href="{% url 'blog.views.post_new' %}"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Agregar Nuevo</button></a>
            {% endif %}
            {% endif %}
              <a class="btn btn-default"  href="javascript:window.history.go(-1);"><span class="glyphicon glyphicon-arrow-left"></span> Regresar</a>
               <h1>{{ post.title }}</h1>

              	</div><!-- cerrar div cabezera-->

              	<div class ="cabezera-info">

            {% if post.published_date %}
                
                    <h4>Fecha de Creación {{ post.published_date }}</h4>
                    Publicado por {{ post.author }}
                    Visitas: {{ post.visitas|linebreaks}}
                    Actualizado el {{ post.actualizado }}
 
            {% endif %}
            </div><!-- cerrar div cabezera-->
            </section><!-- contenedor dos bloques-->

            <section class ="contenedor-texto">
           
            <p>{{ post.text|linebreaks }}</p>

          </section><!-- contenedor dos bloques-->
            <div>
            	<section class ="contenedor-dosblques-img">
            	
        			<div class ="foto1">
        		 <div class="thumbnails">
               {% if post.imagen %}

              <a href="/media/{{ post.imagen }}"><img src="/media/{{ post.imagen }}"/></a>
              {% else %}
              <img src="http://www.semanarioelpueblo.com.ec/descarga.png">
              {% endif %}
              <br>
              </div><!-- cerrar div thumbnails-->
              </div><!-- cerrar div foto1-->
              <div class ="foto2">
              <div class="thumbnails">
               {% if post.imagen2 %}
              <a href="/media/{{ post.imagen2 }}"><img src="/media/{{ post.imagen2 }}"/></a>
              {% else %}
              <img src="http://www.semanarioelpueblo.com.ec/descarga.png">
              {% endif %}
              <br>
              </div><!-- cerrar div thumbnails-->
              </div><!-- cerrar div foto2-->

              </section><!-- contenedor dos bloques img-->
               {% if post.video %}
              <div class="cajadevideo">
              <div class="video">
              
			<iframe  src="http://www.youtube.com/embed/{{ post.video }}" frameborder="0" allowfullscreen></iframe>
			</div><!-- cerrar video-->
			</div><!-- cerrar caja video-->
			{% endif %}
            </div>
     
            <p><h5>Comparte esto
con tus Amigos:</h5></p>   

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50d35f821007b154"></script>
</div><!-- cerrar el div class="content-post1" -->

</section><!-- cerrar el div content-post-->


<section class="content-post2">
			<div class="comentarios">

			<div><!-- cerrar el div comentarios-->
			<div class="comentarios">
			<div><!-- cerrar el div comentarios-->
		</section><!-- cerrar el div class="content-post2" -->
      <div><!-- cerrar el div contenedor--> 


    {% endblock %}


