{% extends 'blog/base.html' %}
{% block title %} {{ post.title }}{% endblock %}

    {% block content %}
    <br>
    <br>
        <div class="post">
            {% if post.published_date %}
                <div class="date">
                    <h4>{{ post.published_date }}</h4>
                    Publicado por {{ post.author|linebreaks }}
                    Visitas {{ post.visitas }}

                </div>
            {% endif %}
            {% if user.is_authenticated %}
            {% if post.author == user %}<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
            <a class="btn btn-default" href="{% url 'post_delete_post' pk=post.pk %}"><span class="glyphicon glyphicon-ban-circle"></span> Eliminar</a>
            {% endif %}
            {% endif %}
              <a class="btn btn-default"  href="javascript:window.history.go(-1);"><span class="glyphicon glyphicon-arrow-left"></span> Regresar</a>

            
            <h1>{{ post.title }}</h1>
            <p>{{ post.text|linebreaks }}</p>

          
            <div>
               {% if post.imagen %}
              <img src="{{ post.imagen.url }}" width="600px">
              {% endif %}
              <br>
               {% if post.imagen2 %}
              <img src="{{ post.imagen2.url }}" width="600px">
              {% endif %}
              <br>
               {% if post.video %}
			<iframe width="380" height="250" src="http://www.youtube.com/embed/{{ post.video }}" frameborder="0" allowfullscreen></iframe>
{% endif %}
            </div>
     
            <p><h5>Comparte esto
con tus Amigos:</h5></p>   

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50d35f821007b154"></script>
</div>

        </div>
    {% endblock %}