{% extends 'blog/base.html' %}

    {% block content %}
    <br>
    <br>
        <div class="post">
            {% if post.published_date %}
                <div class="date">
                    <h4>{{ post.published_date }}</h4>
                    Publicado por {{ post.author }}
                </div>
            {% endif %}
            {% if user.is_authenticated %}
            {% if post.author == user %}<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
            <a class="btn btn-default" href="{% url 'post_delete_post' pk=post.pk %}"><span class="glyphicon glyphicon-ban-circle"></span> Eliminar</a>
            {% endif %}
            {% endif %}
              <a class="btn btn-default"  href="javascript:window.history.go(-1);"><span class="glyphicon glyphicon-arrow-left"></span> Regresar</a>

            
            <h1>{{ post.title }}</h1>
            <p>{{ post.text|linebreaks }}</p>

          
            <div>
               {% if post.imagen %}
              <img src="{{ post.imagen.url }}" width="600px">
              {% endif %}
               
            </div>
     
            

        </div>
    {% endblock %}