  {% extends 'blog/base.html' %}

    {% block content %}




    <div class="pagination">
    
    <ul class="pager">

        <li><a href="/"> Primera </a></li>
        {% if posts.has_previous %}
        
        <li class="previous"><a href="?page={{ posts.previous_page_number }}">&larr;Anterior</a></li>
        
        {% endif %}

        
        Página {{ posts.number }} de {{ posts.paginator.num_pages }}

        {% if posts.has_next %}
        <li class="next"><li><a href="?page={{ posts.next_page_number }}">Siguiente&rarr;</a></li>
        {% endif %}
        <li><a href="?page={{posts.paginator.num_pages }}">Ultima</a></li>  
    {% if user.is_authenticated %}
        <li><a href="{% url 'blog.views.post_new' %}"><button type="submit" class="btn btn-primary">Agregar Nuevo Post</button></a></li>
      {% else %}
      
    
      {% endif %}
    </ul>
</div>

        {% for post in posts %}
            <div class="post">
                <div class="date">
                    <h4><a href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.published_date }}</a></h4>
                    Publicado por {{ post.author }} , Visitas {{ post.visitas }}
            {% if user.is_authenticated %}
                    {% if post.author == user %}<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
                    <a class="btn btn-default" href="{% url 'post_delete_post' pk=post.pk %}"><span class="glyphicon glyphicon-ban-circle"></span> Eliminar</a>
                    {% endif %}
            {% endif %}
                </div>
                <h1><a href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.title|truncatewords_html:11 }}</a></h1>
                <p>{{ post.text|linebreaks|truncatewords_html:22 }}</p>
                {% if post.imagen %}
                <a href="{% url 'blog.views.post_detail' pk=post.pk %}"><img src="/media/{{ post.imagen }}" width="200px"></a>
                {% endif %}

            </div>
        {% endfor %}
 <div class="pagination">
    
    <ul class="pager">

        <li><a href="/"> Primera </a></li>
        {% if posts.has_previous %}
        
        <li class="previous"><a href="?page={{ posts.previous_page_number }}">&larr;Anterior</a></li>
        
        {% endif %}

        
        Página {{ posts.number }} de {{ posts.paginator.num_pages }}

        {% if posts.has_next %}
        <li class="next"><li><a href="?page={{ posts.next_page_number }}">Siguiente&rarr;</a></li>
        {% endif %}
        <li><a href="?page={{posts.paginator.num_pages }}">Ultima</a></li>  

    </ul>
</div>

    {% endblock content %}