    {% extends 'blog/base.html' %}

    {% block content %}

 


        <h1>Post</h1>
        <form action="." method="POST" class="post-form" enctype='multipart/form-data'>{% csrf_token %}
        	
            {{ form.as_p }}
            <button type="submit" class="saveclass btn btn-default">Publicar</button>
        </form>

   <script type="text/javascript">
		function replaceIt(enlace){ enlace.replaceWith('<img src="'+enlace.attr('href')+'" width="100"/>'); }
		$('p').find('input[type=file]').each(function(){
			replaceIt($(this).parent().find('a'));
			var ll = $(this).parent().find('label').last()
			if ($(ll).html() == 'Limpiar'){
				$(ll).css('display', 'inline');
			}
		});
	</script>

    {% endblock %}