  {% extends 'blog/base.html' %}

   

{% block paginador %}


    <div class="pagination">
    
    <ul class="pager">

        <li><a href="/"> Primera </a></li>
        {% if posts.has_previous %}
        
        <li class="previous"><a href="?page={{ posts.previous_page_number }}">&larr;Anterior</a></li>
        
        {% endif %}

        
        Página {{ posts.number }} de {{ posts.paginator.num_pages }}

        {% if posts.has_next %}
        <li class="next"><li><a href="?page={{ posts.next_page_number }}">Siguiente&rarr;</a></li>
        {% endif %}
        <li><a href="?page={{posts.paginator.num_pages }}">Ultima</a></li>  
    {% if user.is_authenticated %}
        <li><a href="{% url 'blog.views.post_new' %}"><button type="submit" class="btn btn-primary">Agregar Nuevo Post</button></a></li>
      {% else %}
      
    
      {% endif %}
    </ul>
</div>

{% endblock paginador %}

        {% block content %}
         <section id="websites">

        {% for post in posts %}
            
                <article style="display: inline-block; text-align:left;">
                     <div class="titulo"> <a href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.title|truncatewords_html:13 }}</a></div>
                    
                    
            {% if user.is_authenticated %}
                    {% if post.author == user %}<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
                    <a class="btn btn-default" href="{% url 'post_delete_post' pk=post.pk %}"><span class="glyphicon glyphicon-ban-circle"></span> Eliminar</a>
                    {% endif %}
            {% endif %}
               
               
                <div class="texto">{{ post.text|linebreaks|truncatewords_html:14 }}</div>
                {% if post.imagen %}
                <a href="{% url 'blog.views.post_detail' pk=post.pk %}"><img src="/media/{{ post.imagen }}"></a>
                {% endif %}

                <p>Publicado por {{ post.author }} , Visitas {{ post.visitas }}</p>
                <a href="{% url 'blog.views.post_detail' pk=post.pk %}">Publicado hace {{ post.published_date|timesince }}</a>
             </article>  
        {% endfor %}
        </section>
        {% endblock content %}

         {% block paginador2 %}
 <div class="pagination">
    
    <ul class="pager">

        <li><a href="/"> Primera </a></li>
        {% if posts.has_previous %}
        
        <li class="previous"><a href="?page={{ posts.previous_page_number }}">&larr;Anterior</a></li>
        
        {% endif %}

        
        Página {{ posts.number }} de {{ posts.paginator.num_pages }}

        {% if posts.has_next %}
        <li class="next"><li><a href="?page={{ posts.next_page_number }}">Siguiente&rarr;</a></li>
        {% endif %}
        <li><a href="?page={{posts.paginator.num_pages }}">Ultima</a></li>  

    </ul>
</div>

    {% endblock paginador2 %}