*{margin:0;}
#contenedor{
	background:white;
	margin:0 auto;
	max-width:1100px;
}

article{
	display: inline-block;
}

#websites{
	font-size:0;
	text-align:center;
}
#websites article{
	background: #FFFFFF;
	border:2px solid lightgray;
	border-radius:5px;
	color: black;
	font-size:15px;
	margin:5px;
	padding:10px;
	width:260px;
	height: 370px;
}
#websites article h1{
	background:#ccc;
	color: white;
	font-size:15px;
	margin:5px;
}
.titulo {
	width: 235px;
	height: 60px;
	margin-bottom: 10px;
}

#websites div article a{
	
	font-size:16px;
}
.texto {
	font-size:11px;
	width: 235px;
	height: 35px;
	margin-bottom: 10px;
}

#websites article h3{
	background:#ccc;
	color: black;
	font-size:12px;
	margin:5px;
}
#websites article p{
	font-size:11px;

}
#websites img {
	-webkit-transition:.2s;
	margin-bottom: 10px;
	width: 230px;
	height: 150px;

}
#websites article:hover img{
	-webkit-transform:scale(1.1);
}