*{margin:0;}
#contenedor{
	background:white;
	margin:0 auto;
	max-width:1100px;
}

article{
	display: inline-block;
}

#websites{
	font-size:0;
	text-align:center;
}
#websites article{
	background: #FFFFFF;
	border:2px solid lightgray;
	border-radius:5px;
	-webkit-box-shadow: 3px 3px 10px #121212;
	-moz-box-shadow: 3px 3px 10px #121212;
	box-shadow: 3px 3px 10px #121212;
	color: black;
	font-size:15px;
	margin:5px;
	padding:10px;
	width:260px;
	height: 380px;
}
#websites article h1{
	background:#ccc;
	color: white;
	font-size:15px;
	margin:5px;
}
.titulo {
	width: 235px;
	height: 60px;
	margin-bottom: 10px;
}

#websites div article a{
	
	font-size:16px;
}
.texto {
	font-size:11px;
	width: 235px;
	height: 35px;
	margin-bottom: 10px;
}

#websites article h3{
	background:#ccc;
	color: black;
	font-size:12px;
	margin:5px;
}
#websites article p{
	font-size:11px;

}
#websites img {
	-webkit-transition:.2s;
	margin-bottom: 10px;
	width: 230px;
	height: 150px;

}
#websites article:hover img{
	-webkit-transform:scale(1.1);
}

.content-post{
	width: 70%;
	background: white;
	display: inline-block;	

}
.content-post1{
	width: 99%;
	background: white;
	margin:auto;
	display: inline-block;
}
.contenedor-dosblques{
	width: 100%;
	display: inline-block;
	background: white;
	-webkit-box-shadow: 3px 3px 10px #121212;
	-moz-box-shadow: 3px 3px 10px #121212;
	box-shadow: 3px 3px 10px #121212

}

.cabezera{
	width: 65%;
	float: left;
	height: 200px;
	background: white;
	margin: 0%;
	display: inline-block;
	margin-right: 12px;

}
.cabezera-info{
	width: 31%;
	background: white;
	display: inline-block;
	text-align: right;
	margin-top: 25px;

}


.contenedor-texto{
	width: 100%;
	background: white;
	-webkit-box-shadow: 3px 3px 10px #121212;
	-moz-box-shadow: 3px 3px 10px #121212;
	box-shadow: 3px 3px 10px #121212

}

.contenedor-dosblques-img{
	width: 100%;
	display: inline-block;
	background: white;
	-webkit-box-shadow: 3px 3px 10px #121212;
	-moz-box-shadow: 3px 3px 10px #121212;
	box-shadow: 3px 3px 10px #121212

}
.foto1{
	width: 42%;
	display: inline-block;
	margin: 2.5%;

}
.foto1 img{
	width: 100%;
	

}
.foto2{
	width: 42%;
	display: inline-block;
	margin: 2.5%;

}
.foto2 img{
	width: 100%;
}

.cajadevideo{
	width: 80%;
	margin:auto;
}
.video{

    height:0px;
    width:100%;
    max-width:560px;
    padding-top:56.25%;
    position:relative;

}

iframe{

    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;

}

h1 {
    color: black;
    font-family: 'Lobster';
 }
.pubhace a{
    color: black;
    font-family: 'Lobster';

}
 h4 {
    color: #275D8D;
    font-family: 'Lobster';
 }

 /* Formulario agregar Post */

    .saveclass {
        float: right;
    }

    .post-form textarea, .post-form input {
        width: 100%;
    }

.content-post2{
	width: 20%;
	margin:auto;
	display: inline-block;

}
.comentarios{
		width: 20%;
		display: inline-block;
}

 /* Media quieries */

@media screen and (max-width: 480px){
	.content-post2{
	display: none;

}
	.content-post{
	width: 100%;

}
	.cabezera h1{
	font-size: 17px;

}

@media screen and (min-width: 600px){


}

@media screen and (min-width: 767px){
	
	
}

@media screen and (min-width: 950px){


	
}